@charset "UTF-8";

.pagination-window {
	border: 1px solid #FFEBFF;
	height: 500px;
	margin: 0 auto;
	overflow: hidden;
	padding: 5px;
	position: relative;
	width: 600px;
}

#container-left {
	background-color: #9DDEFF;
	height: 500px;
	left: -700px;
	position: absolute;
	width: 600px;
}

#container-active {
	background-color: #D6FFAC;
	height: 500px;
	position: absolute;
	width: 600px;
}

#container-right {
	background-color: #FFCDB4;
	height: 500px;
	left: 700px;
	position: absolute;
	width: 600px;
}

.navigation {
	display: block;
	height: 50px;
	border: 1px solid #EFAFE0;
	margin: 0 auto;
	padding 5px;
	overflow: hidden;
	width: 200px;
}

.previous, .next {
	background-color: #B5CEFF;
	cursor: pointer;
	display: block;
	float: left;
	height: 40px;
	margin: 10px;
	padding: 10px;
	text-align: center;
	width: 60px;
}
